.cover__title {
  max-width: 560px;
  margin: 0 auto 32px;
  text-align: center;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  color: #ffffff;
  z-index: 1;
}
/* для 320 */
@media all and (max-width: 320px) {
  .cover__title {
    max-width: 288px;
    margin: 0 auto 16px;
    font-size: 32px;
    line-height: 35px;
    }
}
