@import url(./__logo/header__logo.css);
@import url(./__lang-links/header__lang-links.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_active/header__lang-link_active.css);

.header {
max-width: 1280px;  
margin: 28px 48px 56px;
display: flex;
justify-content: space-between;
}
/* для 1024 */
@media all and (max-width: 1024px) {
  .header {
    margin: 28px 48px 48px;
    }
}
/* для 768 */
@media all and (max-width: 768px) {
  .header {
    margin: 28px 24px 48px;
    }
}
/* для 320 */
@media all and (max-width: 320px) {
  .header {
    margin: 16px 16px 48px;
    }
}



